@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon-container {
    @apply flex flex-col items-center justify-center gap-1 p-2;

    svg {
      @apply w-4 h-4;
    }
  }
}
